.mainCont{
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 20px;
}

.taskContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.task-card{
    background: linear-gradient(45deg , #6366f1, rgb(31, 158, 65));
    min-width: 100px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.task-card:hover{
    border-color: #6366f1;
    transform: translateY(-1px);
}

.createMate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.createTask{
    width: 400px;
    padding: 10px;
    backdrop-filter:blur(10px);
    display: flex;
    gap: 30px;
    border: 1px solid #6366f1;
    border-radius: 10px;
}

.taskFeature{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.checkbox-container {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.custom-checkbox {
    width: 25px;
    height: 25px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 15px;
}

.custom-checkbox.checked {
    background-color: #4caf50;
    border-color: #4caf50;
    transform: scale(1.1);
}

.checkmark {
    color: white;
    font-size: 14px;
    display: none;
}

.custom-checkbox.checked .checkmark {
    display: block;
    animation: popIn 0.3s ease;
}

.task-card.completed-style {
    background: #e2e8f0; 
    color: #64748b;
    filter: grayscale(0.8);
    transform: scale(0.98); 
}
.strikethrough {
    text-decoration: line-through;
    opacity: 0.7;
    font-style: italic;
}

.task-card h2{
    margin: 0;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.task-time {
    font-size: 0.7rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 2px 8px;
    border-radius: 10px;
    margin-top: 5px;
    align-self: flex-end; 
}

@keyframes popIn {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.edit-scroll-content {
    background: linear-gradient(45deg , #6366f1, rgb(140, 224, 162));
    padding: 15px;
    border-top: 1px dashed #000000; 
    margin-top: 10px;
    border-radius: var(--radius);
}

.edit-scroll-content input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}